
.footer {
    width: 100%;
    height: 150px;
    background: linear-gradient(to bottom, var(--darkerGreen), var(--darkestGreen));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    margin-top: auto;
  }
  
  .footerIcons svg {
    color: var(--medGreen);
    margin: 5px;
    font-size: 60px;
  }

  .footerIcons :hover {
    color: var(--lightGreen);
    cursor: pointer;
  }
  
  .footer p {
    color: var(--lightGreen);
    font-size: 20px;
  }
  
  @media only screen and (max-width: 600px) {
    .footer svg {
      font-size: 50px;
    }
  }